<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClrMDExports" version="1.0.4.1" targetFramework="net471" />
  <package id="DynaMD" version="1.0.7.3" targetFramework="net471" />
  <package id="Microsoft.Diagnostics.Runtime" version="1.1.35504" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net452" requireReinstallation="true" />
  <package id="UnmanagedExports.Repack" version="1.0.4" targetFramework="net471" />
</packages>